<footer class="footer">
    <div class="container">
        <div class="col-md-6 column-1">
            <h1 class="logo">Mediora</h1>
            <p class="para-1">With an impressive record spanning over three decades, across two family generations, Al Habib’s success
                has been fueled by the sound reputation it has established over the years.
            </p>
            <p class="para-2">As the largest and only integrated realty company in Oman, offering a complete range of products and
            services – in property management, valuation, brokering, feasibility studies, contracting and property
            development – the Company has earned the confidence of the business community in Oman. They recognize that
            Al Habib’s extensive experience and knowhow assures them greater value and unmatched expertise.</p>
            <p class="para-3">© Mediora 1978 - 2023, All Rights Reserved</p>
        </div>
        <div class="col-md-6 column-2">
            <div class="col-md-12 row-1">
                <h5 class="search-head">Newsletter</h5>
                <form>
                    <div class="input-group">
                        <input type="email" class="form-control" id="search-box" placeholder="Enter your email" aria-label="Enter your email">
                        <button class="btn" id="search-button" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
            <div class="col-md-12 row-2">
                <div class="col-md-6 row-2-1">
                    <h5 class="map-head">Sitemap</h5>
                    <div class="map-head-section">
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Who We Are</a></li>
                            <li><a href="#" class="text-white">What We Do</a></li>
                            <li><a href="#" class="text-white">Properties</a></li>
                            <li><a href="#" class="text-white">CSR</a></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Media Center</a></li>
                            <li><a href="#" class="text-white">Blogs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 row-2-1">
                    <h5 class="contact-head">Contact Info</h5>
                    <ul class="list-unstyled">
                        <li class="text-white">Location: P.O Box 2468, Ruwi 112</li>
                        <li class="text-white">Phone: (+968) 24706556</li>
                        <li class="text-white">Fax: (+968) 24706556</li>
                        <li class="text-white">Mail: info&#64;mediora.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 row-2-icon">
                <a href="#" class="text-white me-3"><i class="fab fa-whatsapp"></i></a>
                <a href="#" class="text-white me-3"><i class="fab fa-facebook"></i></a>
                <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-white me-3"><i class="fab fa-linkedin"></i></a>
                <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
            </div>
            <p class="para-3-767">© Mediora 1978 - 2023, All Rights Reserved</p>
        </div>
    </div>
</footer>