<div class="properties-section container">
    <div class="properties-header">
        <h2 class="properties-title">Featured For Rent</h2>
        <a href="" class="btn">See All Properties</a>
    </div>
    <div class="properties-grid">
        <div class="property-card" style="background-image: url('../../../../assets/Homepage-images/rent-card-1.jpeg');">
            <div class="card-badges">
                <span class="badge badge-featured">Featured</span>
                <span class="badge badge-rent">For Rent</span>
            </div>

            <div class="card-info">
                <h3 class="card-title">Al Mir Building – Showroom For Rent</h3>
                <p class="card-price"> <span>OMR 1,500</span>  /per month</p>
            </div>
        </div>
        <div class="property-card" style="background-image: url('../../../../assets/Homepage-images/rent-card-2.jpeg');">
            <div class="card-badges">
                <span class="badge badge-featured">Featured</span>
                <span class="badge badge-rent">For Rent</span>
            </div>

            <div class="card-info">
                <h3 class="card-title">Al Mir Building – Showroom For Rent</h3>
                <p class="card-price"><span>OMR 1,500</span>  /per month</p>
            </div>
        </div>
        <div class="property-card" style="background-image: url('../../../../assets/Homepage-images/rent-card-3.jpeg');">
            <div class="card-badges">
                <span class="badge badge-featured">Featured</span>
                <span class="badge badge-rent">For Rent</span>
            </div>

            <div class="card-info">
                <h3 class="card-title">Al Mir Building – Showroom For Rent</h3>
                <p class="card-price"><span>OMR 1,500</span>  /per month</p>
            </div>
        </div>
        <div class="property-card" style="background-image: url('../../../../assets/Homepage-images/rent-card-4.jpeg');">
            <div class="card-badges">
                <span class="badge badge-featured">Featured</span>
                <span class="badge badge-rent">For Rent</span>
            </div>

            <div class="card-info">
                <h3 class="card-title">Al Mir Building – Showroom For Rent</h3>
                <p class="card-price"><span>OMR 1,500</span>  /per month</p>
            </div>
        </div>
        <div class="property-card" style="background-image: url('../../../../assets/Homepage-images/rent-card-5.jpeg');">
            <div class="card-badges">
                <span class="badge badge-featured">Featured</span>
                <span class="badge badge-rent">For Rent</span>
            </div>

            <div class="card-info">
                <h3 class="card-title">Al Mir Building – Showroom For Rent</h3>
                <p class="card-price"><span>OMR 1,500</span>  /per month</p>
            </div>
        </div>
        <div class="property-card" style="background-image: url('../../../../assets/Homepage-images/rent-card-6.jpeg');">
            <div class="card-badges">
                <span class="badge badge-featured">Featured</span>
                <span class="badge badge-rent">For Rent</span>
            </div>

            <div class="card-info">
                <h3 class="card-title">Al Mir Building – Showroom For Rent</h3>
                <p class="card-price"><span>OMR 1,500</span>  /per month</p>
            </div>
        </div>
        <div class="property-card" style="background-image: url('../../../../assets/Homepage-images/rent-card-7.jpeg');">
            <div class="card-badges">
                <span class="badge badge-featured">Featured</span>
                <span class="badge badge-rent">For Rent</span>
            </div>

            <div class="card-info">
                <h3 class="card-title">Al Mir Building – Showroom For Rent</h3>
                <p class="card-price"><span>OMR 1,500</span>  /per month</p>
            </div>
        </div>
        <div class="property-card" style="background-image: url('../../../../assets/Homepage-images/rent-card-8.jpeg');">
            <div class="card-badges">
                <span class="badge badge-featured">Featured</span>
                <span class="badge badge-rent">For Rent</span>
            </div>

            <div class="card-info">
                <h3 class="card-title">Al Mir Building – Showroom For Rent</h3>
                <p class="card-price"><span>OMR 1,500</span>  /per month</p>
            </div>
        </div>
    </div>
</div>