.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
    gap: 10px;
}

.navbar-nav {
    gap: 35px;
}
h3{
    color: var(--black);
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: var(--black);
    text-decoration-thickness: 5px;
}
.navbar-nav .nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-nav .nav-link i {
    margin-left: 5px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    display: block;
}

.dropdown-menu.show {
    max-height: 500px;
    opacity: 1;
}

.dropdown-menu.show {
    border: none;
}
.navbar-nav .nav-link i {
    transition: transform 0.3s ease;
}

li a {
    font-size: 14px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--black);
}

.btn {
    padding: 15px;
    background-color: var(--lite-blue);
    color: var(--white);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.btn:hover {
    background-color: var(--dark-blue);
    font-weight: bold;
}

@media (max-width: 1200px) {
    .navbar-nav {
        gap: 0;
    }
}

@media(max-width:991px) {
    .navbar-nav {
        gap: 10px;
    }

    .navbar-nav .nav-link {
        justify-content: space-between;
    }

    .btn {
        display: block;
        margin: 15px 0;
    }
}