<div class="main-container">
    <div class="col-md-6 first-col">
        <div class="row-md-6 img-container">
            <img src="../../../../assets/Homepage-images/45yrs-img.jpg" alt="" class="img-fluid">
        </div>
        <div class="row-md-6 location-container">
            <img src="../../../../assets/Homepage-images/location.png" alt="">
            <p>Easy to find your dream property</p>
        </div>
    </div>
    <div class="col-md-6 second-col">
        <div class="inner-content">
            <h1 class="heading" id="h1">About Us</h1>
            <p class="para-1">The largest and only one-stop-shop for the complete range of real estate products and services in Oman, our team of over 150 skilled and experienced professionals are always there to help you with real estate solutions.</p>
            <p class="para-2">We leverage our decades of experience, expertise and knowledge in different areas to bring you greater value. Whatever your real estate requirements, we are there to offer you seamless and integrated service that is second to none.</p>
            <a href="" class="btn">Know More About Us</a>
        </div>
    </div>
</div>
