<div class="main-container">
    <div class="container my-5">
        <h2 class="text-center mb-4">From Our Blogs</h2>
        <div class="row">
            <div class="col-md-4 d-flex">
                <div class="card flex-fill">
                    <img src="../../../../assets/Homepage-images/blog-img-1.jpeg" class="card-img-top"
                        alt="Blog Image 1">
                    <div class="card-body">
                        <p class="text-mute mb-1">July 2, 2020</p>
                        <h5 class="card-title">Oil price fall and real estate market</h5>
                        <p class="card-text">Oil Prices have dropped significantly in the last year. How has the real
                            estate market in Oman reacted and what does the future hold?...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card flex-fill">
                    <img src="../../../../assets/Homepage-images/blog-img-2.jpeg" class="card-img-top"
                        alt="Blog Image 2">
                    <div class="card-body">
                        <p class="text-mute mb-1">July 2, 2020</p>
                        <h5 class="card-title">Oil price fall and real estate market</h5>
                        <p class="card-text">Oil Prices have dropped significantly in the last year. How has the real
                            estate market in Oman reacted and what does the future hold?...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card flex-fill">
                    <img src="../../../../assets/Homepage-images/blog-img-3.jpeg" class="card-img-top"
                        alt="Blog Image 3">
                    <div class="card-body">
                        <p class="text-mute mb-1">July 2, 2020</p>
                        <h5 class="card-title">Oil price fall and real estate market</h5>
                        <p class="card-text">Oil Prices have dropped significantly in the last year. How has the real
                            estate market in Oman reacted and what does the future hold?...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>