.main-container{
    width: 100%;
    margin-top: 80px;
    padding: 40px 0;
    background-color: #F8F8F8;
}
.container{
    display: flex;
    padding-top: 40px;
    flex-direction: column;
}
.text-center{
    font-size: 40px;
    color: var(--black);
    font-weight: 700;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.card {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card img{
    height: 100%;
}
.card-body {
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.text-mute{
    color: var(--lite-blue);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.card-title {
    font-size: 18px;
    color: var(--black);
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.card-text {
    font-size: 14px;
    color: var(--gray);
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
@media (max-width:767px){
    .main-container{
        margin-top: 40px;
        padding: 20px 0;
    }
    .container{
        padding-top:20px;
    }
    .text-center{
        font-size: 32px;
        padding-bottom: 10px;
    }
    .row{
        gap:20px
    }
}
@media (max-width:576px){
    .main-container{
        margin-top: 20px;
        padding: 10px 0;
    }
    .container{
        padding-top:10px;
    }
    .container{
        width: 80%;
    }
    .text-center{
        font-size: 24px;
    }
    .text-mute{
        font-size: 14px;
    }
    .card-title {
        font-size: 16px;
    }
    
    .card-text {
        font-size: 12px;
    }
}