<div class="main-container">
    <div class="container my-5">
      <h2 class="text-center mb-4">From Our Blogs</h2>
      <div class="row">
        <div class="col-md-4 d-flex" *ngFor="let blog of blogs">
          <div class="card flex-fill">
            <img [src]="blog.imgSrc" class="card-img-top" alt="Blog Image">
            <div class="card-body">
              <p class="text-muted mb-1">{{ blog.date }}</p>
              <h5 class="card-title">{{ blog.title }}</h5>
              <p class="card-text">{{ blog.text }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  