/* You can add global styles to this file, and also import other style files */
:root {
    --white:#FFFFFF;
    --black:#000000;
    --lite-blue: #005AAB;
    --sky-blue:#02AFE6;
    --dark-blue:#062965;
    --gray:#777777;
  }
  .container{
    display: flex;
  }